<head>
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/images/skyj.jpg">
</head>
<body>
  <div class=flex-container>
    <div class="container">
      <h1>Join Us</h1>
      <p class="lead">Join our community. We have <strong><%=userEmails%></strong> users in here!</p>
      <form action="/insert_user" method="post">
        <input type="text" id="userEmailValue" name="email" class="form"  placeholder="Type your email...">
        <button id="sendUserEmail">Join</button>
      </form>
    </div>
  </div>